<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    {% render 'icon-menu' %}
  </label>
  {% if section.settings.select_logo != blank %}
    <div class="logo-image">
      <a href="{{ routes.root_url }}">
        <img src="{{section.settings.select_logo | img_url: 'medium'}}" width="{{section.settings.logo_max_width}}px">
      </a>
    </div>
  {% else %}
    <h1 class="logo" style="font-size: {{section.settings.logo_text_size}}px;">
      <a href="/">{{ section.settings.logo_text }}</a>
    </h1>
  {% endif %}
  <ul>
    {% for link in linklists[section.settings.header_nav_menu].links %}
      <li>
        <a href="{{link.url}}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>