<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_accent }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link
      rel="stylesheet"
      href="{{'base.css' | asset_url}}"
      type="text/css" />
    {{ content_for_header }}
  </head>

  <body>
    <main>
      <div class="container">
        {{ content_for_layout }}
        {% section 'header' %}
      </div>

    </main>

    <script src="{{'base.js' | asset_url}}" defer="defer"></script>
  </body>
</html>